# LARAVEL APPLICATION CONFIGURATION 
 
# APP CONFIG
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:thkR0speX/6/CBtpQSsN7GR2PAaDr/t+gQG3DrJD9Pg=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file

# LOGGING
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info
 
# PHP
PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12
 
# DATABASE (PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=my-app
DB_USERNAME=postgres
DB_PASSWORD=admin
 
# SESSION / SANCTUM
SESSION_DRIVER=cookie
SESSION_LIFETIME=30
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost,localhost,localhost
 
# CACHE / QUEUE
CACHE_STORE=database
QUEUE_CONNECTION=database

# FILESYSTEM / BROADCAST
FILESYSTEM_DISK=local
BROADCAST_CONNECTION=log
 
# REDIS
REDIS_CLIENT=phpredis
REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379
 
# MAIL
MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=localhost
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
 
# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
 
# FRONTEND / VITE
VITE_APP_NAME="${APP_NAME}"
VITE_DEV_SERVER=true
VITE_BASE_URL=http://localhost/pac-check-engine/public
VITE_DEV_SERVER_HOST=localhost

# CORS
CORS_ALLOWED_ORIGINS=http://localhost
CORS_SUPPORTS_CREDENTIALS=true
CORS_MAX_AGE=0
